*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
nav{
   max-width: 1600px;
   height: 92px;
   display: flex;
   padding: 30px;
   background-color: #1A0B2E;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}
nav .menu-container{
    width: 218px;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    
    color: #FFFFFF;
}
nav > p{
    margin-left: 200px;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    
}
nav .s{
    background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.f1 > button {
    margin-right: 200px;
    border-radius: 1000px;
    padding: 12px 16px;
    background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

  
nav > span{
    color: #FFFFFF;
    display: none;
}












.banner-section {
    max-width: 1600px;
    height: 800px;
    margin: 0 auto;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
}
.banner-section .rounded-mic-parent{
  
  position: relative;
}
.banner-section .rounded-mic-parent .rounded-shape{
  width: 380px;
  height: auto;
  margin: 100px 625px 300px 625px;
  margin-bottom: 30px;

}
.banner-section .rounded-mic-parent span{
  background-color: #00FF88;
  color: black;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  font-size: 18px;
  left: 57%;
  top: 20%;
}
.banner-section .rounded-mic-parent .mic{
  width: 130px;
  height: auto;
  position: absolute;
  left: 51%;
  top: 42%;
  transform: translate(-50%,-50%);
  
}
.tech> h1{
 color: #FFFFFF;
 font-size: 60px;
 text-align: center;
 font-weight: 800;
 margin-bottom: 8px;
 margin-right: 10px;
}
.tech >p{
 color: #FFFFFF;
 opacity: 60%;
 font-size: 16px;
 font-weight: 400;
 text-align: center;
 margin-bottom: 24px;
 margin-right: 20px;
}
.tech >div{
  display: flex;
  justify-content: center;
  gap: 8px;
}
div >.btn1{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));
  border-radius: 1000px;
  border: none;
  color: #FFFFFF;
}
div >.btn2{
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 1000px;
  border: 1px solid ;
  color: #00FF88;
  background: transparent;

}
div >.btn2>img{
  margin-top: 2px;
}


.banner-section2{
  max-width: 1600px;
  height: 646px;
  margin: 0 auto;
  background-color: #1A0B2E;
}
.container-2{
  width: 1200px;
  height: 222px;
  margin: 0 auto;
  margin-bottom:100px ;
}
.container-2 > h2{
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.container-2 > p{
   font-size: 16px;
   font-weight: 400;
   color: #FFFFFF;
   opacity: 60%;
   text-align: center;
   line-height: 20px;
   margin-bottom: 80px;
}
.divider {
  border: 0;
  border-top: 1px solid #2e0860;
  margin: 40px auto;
  width: 80%;
  margin-bottom: 80px;
}
.d1{
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.box1 >h3{
  font-size: 48px;
  color: #00FF88;
  margin-bottom: 16px;
  font-weight: 900;
}
.box1>p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 60%;
}















/* mobile device for responsiveness */
@media screen and (max-width:576px) {
    
    nav{
      max-width: 100%;
    }
    nav .menu-container {
        display: none;
    }
    .f1 > button {
        display: none;
    }
   
    nav > span {
        width: 24px;
        height: 24px;
        align-content: center;
        display: block;
        margin-right: 20px;
    }
    nav > p {
      margin-left: -20px;
    }
    .banner-section {
      width: 100%;
      height: 560px;
    
      background-image: url("./assets/hero-bg.png");
     
    }
    .banner-section .rounded-mic-parent{
  
      position: relative;
    }
    .banner-section .rounded-mic-parent .rounded-shape{
       width: 230px;
       height: 230px;
       margin: 50px 110px;
       margin-bottom: 10px;

   }
   .banner-section .rounded-mic-parent span{
      background-color: #00FF88;
      color: black;
      font-weight: 600;
      padding: 6px 15px;
      border-radius: 20px;
      display: inline-block;
      position: absolute;
      font-size: 18px;
      line-height: 22px;
      font-family: "Inter",sans-serif;
      left: 65%;
      top: 15%;
    }
    .banner-section .rounded-mic-parent .mic{
      width: 70px;
      height: auto;
      position: absolute;
      left: 53%;
      top: 35%;
      transform: translate(-50%,-50%);
   }
    .tech> h1{
     color: #FFFFFF;
     font-size: 60px;
     text-align: center;
     font-weight: 800;
     margin-bottom: 8px;
     margin-right: 10px;
   }
   .tech >p{
     color: #FFFFFF;
     opacity: 80%;
     font-size: 16px;
     font-weight: 400;
     text-align: center;
     margin-bottom: 24px;
     margin-right: 20px;
   }
   .banner-section2{
      max-width: 1600px;
      height: 646px;
      margin: 0 auto;
      padding: 20px;
   }
   .container-2{
     width: 100%;
     height: 210px;
     margin: 0 auto;
     margin-bottom: 80px;
   }
   .container-2 > h2{
     font-size: 38px;
     text-align: center;
     font-weight: 700;
     color: #FFFFFF;
     margin-bottom: 16px;
   }
   .container-2 > p{
     font-size: 16px;
     font-weight: 400;
     color: #FFFFFF;
     opacity: 60%;
     text-align: center;
     line-height: 20px;
     margin-bottom: 30px;
   }
   .divider {
     border: 0;
     border-top: 1px solid #2e0860;
     
     width: 80%;
     margin-bottom: 80px;
   }
   .d1{
    width: 100%;
    height: 210px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,150px);
    justify-content: center;
    gap: 30px;

   }
   .box1{
    margin-top: 30px;
   }
   
  
   
   
    
   
    
}



